@font-face{
  font-family: 'DidactGothic';
  src: url(/stylesheets/fonts/DidactGothic.ttf);
}

body {
  background: #D8D8D8;
  padding-bottom: 50px;
  font: 14px "DidactGothic", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
